# LangChain Core
langchain
langchain-core
langchain_community

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
huggingface_hub
transformers
sentence-transformers
torch # PyTorch is required for Hugging Face models

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

ipykernel
notebook
ipywidgets

pydantic    # Pydantic for data validation and settings management
pydantic[email] # Optional dependencies for email validation

grandalf # Grandalf for advanced prompt management